body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #dbc1ac;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: 220px 1fr;
    height: 100vh;
}

.sidebar {
    background: #634832;
    color: white;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    margin: 30px 0 50px;
    font-size: 22px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: #dbc1ac;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background 0.1s;
}

.sidebar ul li a:hover {
    background-color: #dbc1ac;
    color: #38220f;
}

.main-content {
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#search {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ece0d1;
}

button {
    padding: 10px 15px;
    background-color: #634832;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #357ABD;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #ece0d1;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f4e9df;
}

.status-active {
    color: green;
    font-weight: bold;
}

.status-inactive {
    color: red;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: #dbc1ac;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
}

.modal-content input, .modal-content select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-actions {
    text-align: right;
}

.modal-actions button {
    margin-left: 10px;
}