body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #dbc1ac;
}

.grid-container {
    display: grid;
    grid-template-columns: 220px 1fr;
    height: 100vh;
}

.sidebar {
    background: #634832;
    color: #fff;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    margin: 30px 0 50px;
    font-size: 22px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: #dbc1ac;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background 0.1s;
}

.sidebar ul li a:hover {
    background-color: #dbc1ac;
    color: #38220f;
}

.main {
    padding: 20px;
}

.heading {
    text-align: center;
    color: #38220f;
    font-size: 25px;
    padding: 25px 0 30px;
}

.stats {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.stat-card {
    background: #ece0d1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

.stat-card h3 {
    color: #634832;
    margin-bottom: 10px;
}

.stat-card p {
    font-size: 24px;
    color: #38220f;
}